<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kakao Login</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    </head>
    <body>
        <a href="/auth/kakao/login">카카오 로그인</a>
        {% if username %}
        <span>이름: {{username}}</span>
        <img src="{{profile}}" alt="" />
        <img src="{{thumb}}" alt="" />
        {% endif %}
    </body>
</html>
